
@{
    ViewBag.Title = "Best Seller";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    var productData = ViewBag.DataB;
    var quantityData = ViewBag.DataA;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<h1>Thống kê sản phẩm bán chạy</h1>
<span>Chọn số lượng sản phẩm muốn thống kê :</span>
@using (Html.BeginForm("BestSeller", "Statistical", FormMethod.Post))
{
    <input type="number" name="sl" min="0" />   
    <button type="submit">Chọn</button>
}

<div>
    <canvas id="lineChart" height="400" width="1000"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('lineChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels:  @Html.Raw(Json.Encode(productData)),
            datasets: [{
                label: 'Quantity',
                data: @Html.Raw(Json.Encode(quantityData)),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>