
@{
    ViewBag.Title = "Revenue";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    var data = ViewBag.Data;
    var year = ViewBag.Year;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<h1>Thống kê doanh thu @Html.Raw(year) </h1>
<span>Chọn năm muốn thống kê :</span>
@using (Html.BeginForm("Revenue", "Statistical"))
{
    <input type="number" name="year" min="2020" formmethod="post"/>
    <button type="submit">Chọn</button>
}

<div>
    <canvas id="lineChart" height="400" width="1000"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('lineChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
        datasets: [{

        label: 'Vnd',
        data: @Html.Raw(Json.Encode(data)),
            fill: false,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)',
                'rgb(201, 203, 207)',
                'rgb(201, 203, 207)',
                'rgb(201, 203, 207)',
                'rgb(201, 203, 207)',
                'rgb(201, 203, 207)'





            ],
       
        }]
        },
        options: {
            indexAxis: 'y', // Thêm thuộc tính này để chuyển trục
            scales: {
                x: {
                    beginAtZero: true // Đảm bảo trục x bắt đầu từ 0
                }
            },
            transitions: {
                show: {
                    animations: {
                       
                        y: {
                            from: 0
                        }
                    }
                },
                hide: {
                    animations: {
                       
                        x: {
                            to: 0
                        }
                    }
                }
            }
        }
    });
</script>