<div id="t3-mainbody" class="container t3-mainbody">
    <div class="row">
        <!-- MAIN CONTENT -->
        <div id="t3-content" class="t3-content col-xs-12">
            <div id="system-message-container">
            </div>

            <div class="eshop-shop-introduction">
                <h1 style="text-align: center; font-family:Arial; text-transform:none;font-weight:100;">Welcome!</h1>
                
                <p style="text-align: center; font-family: Arial;">Với mục tiêu tạo ra những trải nghiệm mua sắm thời trang trực tuyến tuyệt vời, QFashion ra đời và luôn nỗ lực để mang đến khách hàng mua sắm thời trang: Kho thời trang chất lượng, Giá cả cạnh tranh, Dịch vụ chăm sóc khách hàng tận tâm... và hơn thế chung tôi luôn cam kết bằng hành động của mình. Chúc bạn lựa chọn được phong cách phù hợp với mình cùng FG!</p>
                <p style="text-align: center; font-family:Arial;"><a class="btn btn-primary" href="@Url.RouteUrl("PageDetails", new { Slug = "gioi-thieu-ve-qfashion" })" title="Giới thiệu về FashionGo" style="font-family: Arial;">Đọc thêm</a></p>
            </div>

        </div>
        <!-- //MAIN CONTENT -->
    </div>
</div>
