
<style>
    .feature-box {
        display:flex;
    }
    .fbox-icon {
        margin-top: 20px;
        margin-right: 10px;
    }
    .fbox-icon i {
        font-size: 28px;
    }
    .commit {
        display: flex;
        padding-bottom: 40px;
    }
</style>
<section>
    <div class="section nobottommargin row">
        <div class="container clearfix commit">
            <div class="col-3 nobottommargin" style="margin-right:25px">
                <div class="feature-box">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>
                    <h3  style="font-family:Arial;">100% Bản Gốc</h3>
                </div>
                <p class="notopmargin" style="font-family:Arial;">Chúng tôi đảm bảo cho bạn việc bán các nhãn hiệu gốc.</p>
            </div>

            <div class="col-3 nobottommargin" style="margin-right:25px">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-regular fa-credit-card"></i>
                    </div>
                    <h3 style="font-family:Arial;">Phương Thức Thanh Toán</h3>
                    
                </div>
                <p class="notopmargin"  style="font-family: Arial;">Chúng tôi chấp nhận Visa, MasterCard và American Express.</p>
            </div>

            <div class="col-3 nobottommargin" style="margin-right:25px">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <h3 style="font-family:Arial;">Miễn Phí Vận Chuyển</h3>
                    
                </div>
                <p class="notopmargin" style="font-family:Arial;">Giao hàng miễn phí tới hơn 100 địa điểm với đơn hàng trên 200k vnđ.</p>
            </div>

            <div class="col-3 nobottommargin col_last">
                <div class="feature-box fbox-plain fbox-dark fbox-small">
                    <div class="fbox-icon">
                        <i class="fa-solid fa-rotate-left"></i>
                    </div>
                    <h3 style="font-family:Arial;">Đổi Trả Hàng </h3>
                </div>
                <p class="notopmargin" style="font-family:Arial;">Trả lại hoặc trao đổi các mặt hàng đã mua trong vòng 15 ngày</p>
            </div>

        </div>
    </div>
</section>